.app {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 22px;
  text-align: justify;
  padding: 20px;
  margin-bottom: 20px;
  width: 68vw;
  background-color: #0e1424;
  box-shadow: 
    0 4px 8px rgba(0, 0, 0, 0.2), 
    0 6px 20px rgba(0, 0, 0, 0.2); 
  background: linear-gradient(145deg, #0e1424,#1c202b); 
}