.footerLinks {
  gap: var(--spacing-20);
}

.footerList {
  list-style-type: none;
}

.footerList li {
  padding-block: var(--spacing-04);
  list-style-type: none;
} 

.footerList li a {
  display: flex;
  align-items: center;
}

.footerList li a svg {
  margin-right: 8px; /* Add some spacing between the icon and text */
}

  

  